:root{
    --mainblue: #61a5aa;
    --darksecondary: #729493;
    --lightpurple: #8a8aba;
    --darkpurple: #836ca8;
    --off-white: #FFF6F6;

    --border-num: 15px;
}

@font-face {
    font-family: 'nohemi';
    src: url(../fonts/Nohemi/Nohemi-Bold.ttf);
}

@font-face {
    font-family: 'nohemi-med';
    src: url(../fonts/Nohemi/Nohemi-Medium.ttf);
}

@font-face {
    font-family: 'nohemi-semi-bold';
    src: url(../fonts/Nohemi/Nohemi-SemiBold.ttf);
}

@font-face {
    font-family: 'nohemi-light';
    src: url(../fonts/Nohemi/Nohemi-Light.ttf);
}

@font-face {
    font-family: 'nohemi-black';
    src: url(../fonts/Nohemi/Nohemi-Black.ttf);
}

@font-face {
    font-family: 'nohemi-extra-light';
    src: url(../fonts/Nohemi/Nohemi-ExtraLight.ttf);
}

@font-face {
    font-family: 'nohemi-reg';
    src: url(../fonts/Nohemi/Nohemi-Regular.ttf);
}

@font-face {
    font-family: 'rubik-med';
    src: url(../fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
    font-family: 'rubik-reg';
    src: url(../fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'rubik-bold';
    src: url(../fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
    font-family: 'rubik-light';
    src: url(../fonts/Rubik/Rubik-Light.ttf);
}

body {
    margin: 0;
    padding: 0;
    line-height:1.6;
    background-color: var(--off-white);
    color: black;
    text-decoration: none;
    font-family: 'rubik-reg', 'sans-serif';
}

h3{
    font-family: 'nohemi-light', 'sans-serif';
    color: var(--lightpurple);
}

h4{
    font-family: 'rubik-light', 'sans-serif';
    color: var(--lightpurple);
}


header {
    padding:2rem;
    background-color: var(--off-white);
    border-bottom: #ccc 1px solid;
    text-align: center;
}

main{
    padding: 2rem;
}

section {
    max-width: 800px;
    margin: auto;
}

/* HAMBURGER MENU */
#menu-toggle{
    font-weight: bold;
    font-size: 5em;
    display: block;
    position: fixed;
    top: 0.5em;
    right: 0.5em;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menu-toggle a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

    display: inline-block;
    position: relative;
}

#menu-toggle a:hover{
    color: rgb(252, 212, 212);
}

#menu-toggle a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: rgb(252, 212, 212);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#menu-toggle a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#menu-toggle input{
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    top: -0.2em;
    left: -0.3em;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menu-toggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: var(--mainblue);
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: 
                transform 0.3s cubic-bezier(0.5,0.2,0.0,1.0),
                background 0.3s cubic-bezier(0.77,0.2,1.0,0.05),
                opacity 0.5s ease;
}

#menu-toggle span:first-child{
    transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark */
#menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
} 
/* Hide the middle one */
#menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* Last one should go the other direction */
#menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu{
    position: absolute;
    width: 3em;
    margin: -100px 0 0 -245px;

    padding: 0.5em;
    padding-top: 1.25em;
    border-radius: 0 0 0 var(--border-num);

    background: var(--lightpurple);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop text flickering in safari */

    transform-origin: 0% 0%;
    transform: translate(0%, -100%);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
    padding: 0.5em 0;
    font-size: 1.30rem;
}

/* Slide it in from the right */
#menu-toggle input:checked ~ ul{
    transform: none;
}

/* LOGO AND MENU (TOP STICKY ELEMENTS) */

.GRlogo{
    width: 120px;
    height: auto;
    display: block;
    position: fixed;
    top: 1rem;
    left: 2em;

    z-index: 1;
    border-radius: 0;
}

.nav-bar{
    display: flex;
}

/* INDEX STYLES */
p.landing-first-line{
    font-size: 1.5vw;
    /* PADDING SHORTHAND: TOP RIGHT BOTTOM LEFT */
    margin: 0 0 5% 0;
    padding: 0;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f4;
    margin-top: 3rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;

    border: none;
    border-radius: 2rem;
    background: var(--darksecondary);
    color: white;

    box-shadow: 0 6px 14px rgba(139, 92, 246, 0.25);
    transition: background-color 0.3s ease;
}

/* Visualizations styling */
svg {
  border: 1px solid #ccc;
  margin-top: 1rem;
  max-width: 100%;
}

/* IMAGE COLLAGE */

img/
  paddleboard.jpg
  hockey.jpg
  concert.jpg
  eats.jpg
  
.image-collage {
  margin: 4rem 0;
}

.image-collage h2 {
  margin-bottom: 1rem;
}

.collage-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.collage-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

